# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

data/*
# C extensions
*.so
.idea/*
static/assets/*
# Distribution / packaging
.Python
*.txt
*.html
*.dat
*.xls
# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
